naman_flow.json
{
  "flowContents": {
    "identifier": "24693ce6-1a6a-3a39-8404-4da90c0c38f7",
    "instanceIdentifier": "c99d7e38-0196-1000-0000-000077c01fea",
    "name": "Kafka to REST API Flow",
    "comments": "",
    "position": {
      "x": -1296,
      "y": -544
    },
    "processGroups": [],
    "remoteProcessGroups": [],
    "processors": [
      {
        "identifier": "0265ee77-9fd9-3a6d-bdc4-33b9c100885e",
        "instanceIdentifier": "d5359455-0196-1000-ffff-ffffe3a6840c",
        "name": "UpdateAttribute",
        "comments": "",
        "position": {
          "x": -1976,
          "y": 96
        },
        "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-update-attribute-nar",
          "version": "2.4.0"
        },
        "properties": {
          "start_time": "${now():format(\"yyyy-MM-dd'T'HH:mm:ss\")}",
          "Delete Attributes Expression": null,
          "Store State": "Do not store state",
          "canonical-value-lookup-cache-size": "100",
          "Stateful Variables Initial Value": null
        },
        "propertyDescriptors": {
          "start_time": {
            "name": "start_time",
            "displayName": "start_time",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": true
          },
          "Delete Attributes Expression": {
            "name": "Delete Attributes Expression",
            "displayName": "Delete Attributes Expression",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Store State": {
            "name": "Store State",
            "displayName": "Store State",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "canonical-value-lookup-cache-size": {
            "name": "canonical-value-lookup-cache-size",
            "displayName": "Cache Value Lookup Cache Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Stateful Variables Initial Value": {
            "name": "Stateful Variables Initial Value",
            "displayName": "Stateful Variables Initial Value",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 25,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "24693ce6-1a6a-3a39-8404-4da90c0c38f7"
      },
      {
        "identifier": "e60b3bac-dfcf-38e6-8a8e-103892973cad",
        "instanceIdentifier": "c9b8d61e-0196-1000-ffff-ffffc281d4c8",
        "name": "PublishKafka",
        "comments": "",
        "position": {
          "x": -2752,
          "y": -400
        },
        "type": "org.apache.nifi.kafka.processors.PublishKafka",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-kafka-nar",
          "version": "2.4.0"
        },
        "properties": {
          "compression.type": "none",
          "acks": "all",
          "Message Demarcator": null,
          "Kafka Key Attribute Encoding": "utf-8",
          "Record Reader": null,
          "Record Metadata Strategy": "FROM_PROPERTIES",
          "Transactional ID Prefix": null,
          "Header Encoding": "UTF-8",
          "max.request.size": "1 MB",
          "Topic Name": "meter-x-topic",
          "Kafka Key": null,
          "partition": null,
          "Kafka Connection Service": "44b83ac7-65bb-365b-9187-744919d220cc",
          "Publish Strategy": "USE_VALUE",
          "Record Key Writer": null,
          "Failure Strategy": "Route to Failure",
          "partitioner.class": "org.apache.kafka.clients.producer.internals.DefaultPartitioner",
          "Record Writer": null,
          "Transactions Enabled": "true",
          "Message Key Field": null,
          "FlowFile Attribute Header Pattern": null
        },
        "propertyDescriptors": {
          "compression.type": {
            "name": "compression.type",
            "displayName": "Compression Type",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "acks": {
            "name": "acks",
            "displayName": "Delivery Guarantee",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Message Demarcator": {
            "name": "Message Demarcator",
            "displayName": "Message Demarcator",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Kafka Key Attribute Encoding": {
            "name": "Kafka Key Attribute Encoding",
            "displayName": "Kafka Key Attribute Encoding",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Record Reader": {
            "name": "Record Reader",
            "displayName": "Record Reader",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Record Metadata Strategy": {
            "name": "Record Metadata Strategy",
            "displayName": "Record Metadata Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Transactional ID Prefix": {
            "name": "Transactional ID Prefix",
            "displayName": "Transactional ID Prefix",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Header Encoding": {
            "name": "Header Encoding",
            "displayName": "Header Encoding",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "max.request.size": {
            "name": "max.request.size",
            "displayName": "Max Request Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Topic Name": {
            "name": "Topic Name",
            "displayName": "Topic Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Kafka Key": {
            "name": "Kafka Key",
            "displayName": "Kafka Key",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "partition": {
            "name": "partition",
            "displayName": "Partition",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Kafka Connection Service": {
            "name": "Kafka Connection Service",
            "displayName": "Kafka Connection Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Publish Strategy": {
            "name": "Publish Strategy",
            "displayName": "Publish Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Record Key Writer": {
            "name": "Record Key Writer",
            "displayName": "Record Key Writer",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Failure Strategy": {
            "name": "Failure Strategy",
            "displayName": "Failure Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "partitioner.class": {
            "name": "partitioner.class",
            "displayName": "Partitioner Class",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Record Writer": {
            "name": "Record Writer",
            "displayName": "Record Writer",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Transactions Enabled": {
            "name": "Transactions Enabled",
            "displayName": "Transactions Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Message Key Field": {
            "name": "Message Key Field",
            "displayName": "Message Key Field",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "FlowFile Attribute Header Pattern": {
            "name": "FlowFile Attribute Header Pattern",
            "displayName": "FlowFile Attribute Header Pattern",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "success",
          "failure"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "24693ce6-1a6a-3a39-8404-4da90c0c38f7"
      },
      {
        "identifier": "2c78ccab-7a38-38e0-88cf-f1ea923fc283",
        "instanceIdentifier": "c5b32d62-0196-1000-0000-000003b1ba6c",
        "name": "EncryptContent",
        "comments": "",
        "position": {
          "x": -568,
          "y": 96
        },
        "type": "org.apache.nifi.processors.cipher.EncryptContentAge",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-cipher-nar",
          "version": "2.4.0"
        },
        "properties": {
          "Public Key Recipient Resources": null,
          "Public Key Source": "PROPERTIES",
          "File Encoding": "BINARY"
        },
        "propertyDescriptors": {
          "Public Key Recipients": {
            "name": "Public Key Recipients",
            "displayName": "Public Key Recipients",
            "identifiesControllerService": false,
            "sensitive": true,
            "dynamic": false,
            "resourceDefinition": {
              "cardinality": "SINGLE",
              "resourceTypes": [
                "TEXT"
              ]
            }
          },
          "Public Key Recipient Resources": {
            "name": "Public Key Recipient Resources",
            "displayName": "Public Key Recipient Resources",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false,
            "resourceDefinition": {
              "cardinality": "MULTIPLE",
              "resourceTypes": [
                "URL",
                "FILE"
              ]
            }
          },
          "Public Key Source": {
            "name": "Public Key Source",
            "displayName": "Public Key Source",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "File Encoding": {
            "name": "File Encoding",
            "displayName": "File Encoding",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "failure"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "24693ce6-1a6a-3a39-8404-4da90c0c38f7"
      },
      {
        "identifier": "62794da5-a08e-30a6-9b7b-f34d4bd8b256",
        "instanceIdentifier": "d4c08fe9-0196-1000-0000-00002901b4b0",
        "name": "LogAttribute",
        "comments": "",
        "position": {
          "x": 712,
          "y": 72
        },
        "type": "org.apache.nifi.processors.standard.LogAttribute",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.4.0"
        },
        "properties": {
          "Log prefix": null,
          "character-set": "UTF-8",
          "Log FlowFile Properties": "true",
          "Log Level": "info",
          "attributes-to-ignore-regex": null,
          "Attributes to Ignore": null,
          "Attributes to Log": null,
          "attributes-to-log-regex": ".*",
          "Output Format": "Line per Attribute",
          "Log Payload": "false"
        },
        "propertyDescriptors": {
          "Log prefix": {
            "name": "Log prefix",
            "displayName": "Log prefix",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "character-set": {
            "name": "character-set",
            "displayName": "Character Set",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Log FlowFile Properties": {
            "name": "Log FlowFile Properties",
            "displayName": "Log FlowFile Properties",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Log Level": {
            "name": "Log Level",
            "displayName": "Log Level",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "attributes-to-ignore-regex": {
            "name": "attributes-to-ignore-regex",
            "displayName": "Attributes to Ignore by Regular Expression",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Attributes to Ignore": {
            "name": "Attributes to Ignore",
            "displayName": "Attributes to Ignore",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Attributes to Log": {
            "name": "Attributes to Log",
            "displayName": "Attributes to Log",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "attributes-to-log-regex": {
            "name": "attributes-to-log-regex",
            "displayName": "Attributes to Log by Regular Expression",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Output Format": {
            "name": "Output Format",
            "displayName": "Output Format",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Log Payload": {
            "name": "Log Payload",
            "displayName": "Log Payload",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 25,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "success"
        ],
        "scheduledState": "DISABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "24693ce6-1a6a-3a39-8404-4da90c0c38f7"
      },
      {
        "identifier": "680ade53-86b2-36e3-a96b-2da1b9756e33",
        "instanceIdentifier": "d528357e-0196-1000-ffff-fffff451f39d",
        "name": "ReplaceText",
        "comments": "",
        "position": {
          "x": 88,
          "y": 336
        },
        "type": "org.apache.nifi.processors.standard.ReplaceText",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.4.0"
        },
        "properties": {
          "Regular Expression": "(?s)(^.*$)",
          "Replacement Value": "{\n      \"batch_id\": \"${batch_id}\",\n      \"payload_tracking_id\": \"${kafka.topic}_${kafka.partition}_${kafka.offset}\",\n      \"record_date\": \"${now():format(\"yyyy-MM-dd'T'HH:mm:ss\")}\",\n      \"stage\": \"PAYLOAD_RECEIVED and sent to API endpoint\",\n      \"topic_name\": \"${kafka.topic}\",\n      \"status_message\": \"Data successfully inserted into the database\",\n      \"status\": \"Success\"\n    }",
          "Evaluation Mode": "Entire text",
          "Text to Prepend": null,
          "Line-by-Line Evaluation Mode": "All",
          "Character Set": "UTF-8",
          "Maximum Buffer Size": "1 MB",
          "Replacement Strategy": "Regex Replace",
          "Text to Append": null
        },
        "propertyDescriptors": {
          "Regular Expression": {
            "name": "Regular Expression",
            "displayName": "Search Value",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Replacement Value": {
            "name": "Replacement Value",
            "displayName": "Replacement Value",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Evaluation Mode": {
            "name": "Evaluation Mode",
            "displayName": "Evaluation Mode",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Text to Prepend": {
            "name": "Text to Prepend",
            "displayName": "Text to Prepend",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Line-by-Line Evaluation Mode": {
            "name": "Line-by-Line Evaluation Mode",
            "displayName": "Line-by-Line Evaluation Mode",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Character Set": {
            "name": "Character Set",
            "displayName": "Character Set",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Maximum Buffer Size": {
            "name": "Maximum Buffer Size",
            "displayName": "Maximum Buffer Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Replacement Strategy": {
            "name": "Replacement Strategy",
            "displayName": "Replacement Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Text to Append": {
            "name": "Text to Append",
            "displayName": "Text to Append",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 25,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "failure"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "24693ce6-1a6a-3a39-8404-4da90c0c38f7"
      },
      {
        "identifier": "f340d074-f059-3f7b-b5fa-aa2a83bfd453",
        "instanceIdentifier": "c594d1c3-0196-1000-ffff-ffffd51a9954",
        "name": "CompressContent",
        "comments": "",
        "position": {
          "x": -1224,
          "y": 88
        },
        "type": "org.apache.nifi.processors.standard.CompressContent",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.4.0"
        },
        "properties": {
          "Compression Format": "gzip",
          "Mode": "compress",
          "Compression Level": "1",
          "Update Filename": "false"
        },
        "propertyDescriptors": {
          "Compression Format": {
            "name": "Compression Format",
            "displayName": "Compression Format",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Mode": {
            "name": "Mode",
            "displayName": "Mode",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Compression Level": {
            "name": "Compression Level",
            "displayName": "Compression Level",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Update Filename": {
            "name": "Update Filename",
            "displayName": "Update Filename",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "failure"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "24693ce6-1a6a-3a39-8404-4da90c0c38f7"
      },
      {
        "identifier": "681a8470-86f3-33d6-aeef-15be6e138c2e",
        "instanceIdentifier": "d750d4e9-0196-1000-ffff-ffff8cbdc408",
        "name": "Extract Batch ID",
        "comments": "",
        "position": {
          "x": -2712,
          "y": 96
        },
        "type": "org.apache.nifi.processors.standard.EvaluateJsonPath",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.4.0"
        },
        "properties": {
          "Destination": "flowfile-attribute",
          "Max String Length": "20 MB",
          "batch_id": "$.batch_id",
          "Return Type": "auto-detect",
          "Null Value Representation": "empty string",
          "Path Not Found Behavior": "ignore"
        },
        "propertyDescriptors": {
          "Destination": {
            "name": "Destination",
            "displayName": "Destination",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Max String Length": {
            "name": "Max String Length",
            "displayName": "Max String Length",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "batch_id": {
            "name": "batch_id",
            "displayName": "batch_id",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": true
          },
          "Return Type": {
            "name": "Return Type",
            "displayName": "Return Type",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Null Value Representation": {
            "name": "Null Value Representation",
            "displayName": "Null Value Representation",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Path Not Found Behavior": {
            "name": "Path Not Found Behavior",
            "displayName": "Path Not Found Behavior",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "failure",
          "unmatched"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "24693ce6-1a6a-3a39-8404-4da90c0c38f7"
      },
      {
        "identifier": "5e72c873-eac2-38ae-8017-f18c9c083858",
        "instanceIdentifier": "d52e1481-0196-1000-0000-000030f8a436",
        "name": "PutDatabaseRecord",
        "comments": "",
        "position": {
          "x": 88,
          "y": 640
        },
        "type": "org.apache.nifi.processors.standard.PutDatabaseRecord",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.4.0"
        },
        "properties": {
          "put-db-record-allow-multiple-statements": "false",
          "put-db-record-schema-name": null,
          "put-db-record-field-containing-sql": null,
          "put-db-record-unmatched-column-behavior": "Fail on Unmatched Columns",
          "Delete Keys": null,
          "put-db-record-catalog-name": null,
          "put-db-record-statement-type": "INSERT",
          "put-db-record-update-keys": null,
          "put-db-record-quoted-identifiers": "false",
          "put-db-record-unmatched-field-behavior": "Ignore Unmatched Fields",
          "put-db-record-max-batch-size": "1000",
          "Database Dialect Service": null,
          "Data Record Path": null,
          "database-session-autocommit": "false",
          "table-schema-cache-size": "100",
          "put-db-record-quoted-table-identifiers": "false",
          "Statement Type Record Path": null,
          "Column Name Translation Pattern": null,
          "put-db-record-translate-field-names": "true",
          "put-db-record-dcbp-service": "faf5bebc-21b7-33af-80e5-7d5f720c53a1",
          "put-db-record-query-timeout": "0 seconds",
          "Column Name Translation Strategy": "REMOVE_UNDERSCORE",
          "rollback-on-failure": "false",
          "put-db-record-binary-format": "UTF-8",
          "db-type": "Generic",
          "put-db-record-table-name": "data_lineage",
          "put-db-record-record-reader": "0bcba796-a14c-38d4-abc4-550b4f935c78"
        },
        "propertyDescriptors": {
          "put-db-record-allow-multiple-statements": {
            "name": "put-db-record-allow-multiple-statements",
            "displayName": "Allow Multiple SQL Statements",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "put-db-record-schema-name": {
            "name": "put-db-record-schema-name",
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "put-db-record-field-containing-sql": {
            "name": "put-db-record-field-containing-sql",
            "displayName": "Field Containing SQL",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "put-db-record-unmatched-column-behavior": {
            "name": "put-db-record-unmatched-column-behavior",
            "displayName": "Unmatched Column Behavior",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Delete Keys": {
            "name": "Delete Keys",
            "displayName": "Delete Keys",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "put-db-record-catalog-name": {
            "name": "put-db-record-catalog-name",
            "displayName": "Catalog Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "put-db-record-statement-type": {
            "name": "put-db-record-statement-type",
            "displayName": "Statement Type",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "put-db-record-update-keys": {
            "name": "put-db-record-update-keys",
            "displayName": "Update Keys",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "put-db-record-quoted-identifiers": {
            "name": "put-db-record-quoted-identifiers",
            "displayName": "Quote Column Identifiers",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "put-db-record-unmatched-field-behavior": {
            "name": "put-db-record-unmatched-field-behavior",
            "displayName": "Unmatched Field Behavior",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "put-db-record-max-batch-size": {
            "name": "put-db-record-max-batch-size",
            "displayName": "Maximum Batch Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Database Dialect Service": {
            "name": "Database Dialect Service",
            "displayName": "Database Dialect Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Data Record Path": {
            "name": "Data Record Path",
            "displayName": "Data Record Path",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "database-session-autocommit": {
            "name": "database-session-autocommit",
            "displayName": "Database Session AutoCommit",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "table-schema-cache-size": {
            "name": "table-schema-cache-size",
            "displayName": "Table Schema Cache Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "put-db-record-quoted-table-identifiers": {
            "name": "put-db-record-quoted-table-identifiers",
            "displayName": "Quote Table Identifiers",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Statement Type Record Path": {
            "name": "Statement Type Record Path",
            "displayName": "Statement Type Record Path",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Column Name Translation Pattern": {
            "name": "Column Name Translation Pattern",
            "displayName": "Column Name Translation Pattern",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "put-db-record-translate-field-names": {
            "name": "put-db-record-translate-field-names",
            "displayName": "Translate Field Names",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "put-db-record-dcbp-service": {
            "name": "put-db-record-dcbp-service",
            "displayName": "Database Connection Pooling Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "put-db-record-query-timeout": {
            "name": "put-db-record-query-timeout",
            "displayName": "Max Wait Time",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Column Name Translation Strategy": {
            "name": "Column Name Translation Strategy",
            "displayName": "Column Name Translation Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "rollback-on-failure": {
            "name": "rollback-on-failure",
            "displayName": "Rollback On Failure",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "put-db-record-binary-format": {
            "name": "put-db-record-binary-format",
            "displayName": "Binary String Format",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "db-type": {
            "name": "db-type",
            "displayName": "Database Type",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "put-db-record-table-name": {
            "name": "put-db-record-table-name",
            "displayName": "Table Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "put-db-record-record-reader": {
            "name": "put-db-record-record-reader",
            "displayName": "Record Reader",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "failure",
          "retry"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "24693ce6-1a6a-3a39-8404-4da90c0c38f7"
      },
      {
        "identifier": "f97ac1f8-afa1-314a-b991-b34573fed2f9",
        "instanceIdentifier": "d50f7728-0196-1000-ffff-ffff962c1073",
        "name": "PutDatabaseRecord",
        "comments": "",
        "position": {
          "x": -2712,
          "y": 728
        },
        "type": "org.apache.nifi.processors.standard.PutDatabaseRecord",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.4.0"
        },
        "properties": {
          "put-db-record-allow-multiple-statements": "false",
          "put-db-record-schema-name": null,
          "put-db-record-field-containing-sql": null,
          "put-db-record-unmatched-column-behavior": "Fail on Unmatched Columns",
          "Delete Keys": null,
          "put-db-record-catalog-name": null,
          "put-db-record-statement-type": "INSERT",
          "put-db-record-update-keys": null,
          "put-db-record-quoted-identifiers": "false",
          "put-db-record-unmatched-field-behavior": "Ignore Unmatched Fields",
          "put-db-record-max-batch-size": "1000",
          "Database Dialect Service": null,
          "Data Record Path": null,
          "database-session-autocommit": "false",
          "table-schema-cache-size": "100",
          "put-db-record-quoted-table-identifiers": "false",
          "Statement Type Record Path": null,
          "Column Name Translation Pattern": null,
          "put-db-record-translate-field-names": "true",
          "put-db-record-dcbp-service": "faf5bebc-21b7-33af-80e5-7d5f720c53a1",
          "put-db-record-query-timeout": "0 seconds",
          "Column Name Translation Strategy": "REMOVE_UNDERSCORE",
          "rollback-on-failure": "false",
          "put-db-record-binary-format": "UTF-8",
          "db-type": "Generic",
          "put-db-record-table-name": "data_lineage",
          "put-db-record-record-reader": "0bcba796-a14c-38d4-abc4-550b4f935c78"
        },
        "propertyDescriptors": {
          "put-db-record-allow-multiple-statements": {
            "name": "put-db-record-allow-multiple-statements",
            "displayName": "Allow Multiple SQL Statements",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "put-db-record-schema-name": {
            "name": "put-db-record-schema-name",
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "put-db-record-field-containing-sql": {
            "name": "put-db-record-field-containing-sql",
            "displayName": "Field Containing SQL",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "put-db-record-unmatched-column-behavior": {
            "name": "put-db-record-unmatched-column-behavior",
            "displayName": "Unmatched Column Behavior",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Delete Keys": {
            "name": "Delete Keys",
            "displayName": "Delete Keys",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "put-db-record-catalog-name": {
            "name": "put-db-record-catalog-name",
            "displayName": "Catalog Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "put-db-record-statement-type": {
            "name": "put-db-record-statement-type",
            "displayName": "Statement Type",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "put-db-record-update-keys": {
            "name": "put-db-record-update-keys",
            "displayName": "Update Keys",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "put-db-record-quoted-identifiers": {
            "name": "put-db-record-quoted-identifiers",
            "displayName": "Quote Column Identifiers",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "put-db-record-unmatched-field-behavior": {
            "name": "put-db-record-unmatched-field-behavior",
            "displayName": "Unmatched Field Behavior",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "put-db-record-max-batch-size": {
            "name": "put-db-record-max-batch-size",
            "displayName": "Maximum Batch Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Database Dialect Service": {
            "name": "Database Dialect Service",
            "displayName": "Database Dialect Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Data Record Path": {
            "name": "Data Record Path",
            "displayName": "Data Record Path",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "database-session-autocommit": {
            "name": "database-session-autocommit",
            "displayName": "Database Session AutoCommit",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "table-schema-cache-size": {
            "name": "table-schema-cache-size",
            "displayName": "Table Schema Cache Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "put-db-record-quoted-table-identifiers": {
            "name": "put-db-record-quoted-table-identifiers",
            "displayName": "Quote Table Identifiers",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Statement Type Record Path": {
            "name": "Statement Type Record Path",
            "displayName": "Statement Type Record Path",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Column Name Translation Pattern": {
            "name": "Column Name Translation Pattern",
            "displayName": "Column Name Translation Pattern",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "put-db-record-translate-field-names": {
            "name": "put-db-record-translate-field-names",
            "displayName": "Translate Field Names",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "put-db-record-dcbp-service": {
            "name": "put-db-record-dcbp-service",
            "displayName": "Database Connection Pooling Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "put-db-record-query-timeout": {
            "name": "put-db-record-query-timeout",
            "displayName": "Max Wait Time",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Column Name Translation Strategy": {
            "name": "Column Name Translation Strategy",
            "displayName": "Column Name Translation Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "rollback-on-failure": {
            "name": "rollback-on-failure",
            "displayName": "Rollback On Failure",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "put-db-record-binary-format": {
            "name": "put-db-record-binary-format",
            "displayName": "Binary String Format",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "db-type": {
            "name": "db-type",
            "displayName": "Database Type",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "put-db-record-table-name": {
            "name": "put-db-record-table-name",
            "displayName": "Table Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "put-db-record-record-reader": {
            "name": "put-db-record-record-reader",
            "displayName": "Record Reader",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "failure",
          "retry"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "24693ce6-1a6a-3a39-8404-4da90c0c38f7"
      },
      {
        "identifier": "8f5d8e45-0208-3415-bf1f-e8f342cea501",
        "instanceIdentifier": "c48fdc64-0196-1000-0000-000079e03223",
        "name": "ConsumeKafka",
        "comments": "",
        "position": {
          "x": -3432,
          "y": 96
        },
        "type": "org.apache.nifi.kafka.processors.ConsumeKafka",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-kafka-nar",
          "version": "2.4.0"
        },
        "properties": {
          "Topics": "firsttopic",
          "Commit Offsets": "true",
          "Header Name Pattern": null,
          "Key Format": "byte-array",
          "Key Record Reader": null,
          "Message Demarcator": null,
          "Record Reader": null,
          "Key Attribute Encoding": "utf-8",
          "Topic Format": "names",
          "Header Encoding": "UTF-8",
          "Max Uncommitted Time": "100 millis",
          "Kafka Connection Service": "44b83ac7-65bb-365b-9187-744919d220cc",
          "Separate By Key": "false",
          "Processing Strategy": "FLOW_FILE",
          "Record Writer": null,
          "Group ID": "nifi-consumer-group-18",
          "auto.offset.reset": "earliest",
          "Output Strategy": "USE_VALUE"
        },
        "propertyDescriptors": {
          "Topics": {
            "name": "Topics",
            "displayName": "Topics",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Commit Offsets": {
            "name": "Commit Offsets",
            "displayName": "Commit Offsets",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Header Name Pattern": {
            "name": "Header Name Pattern",
            "displayName": "Header Name Pattern",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Key Format": {
            "name": "Key Format",
            "displayName": "Key Format",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Key Record Reader": {
            "name": "Key Record Reader",
            "displayName": "Key Record Reader",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Message Demarcator": {
            "name": "Message Demarcator",
            "displayName": "Message Demarcator",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Record Reader": {
            "name": "Record Reader",
            "displayName": "Record Reader",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Key Attribute Encoding": {
            "name": "Key Attribute Encoding",
            "displayName": "Key Attribute Encoding",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Topic Format": {
            "name": "Topic Format",
            "displayName": "Topic Format",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Header Encoding": {
            "name": "Header Encoding",
            "displayName": "Header Encoding",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Max Uncommitted Time": {
            "name": "Max Uncommitted Time",
            "displayName": "Max Uncommitted Time",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Kafka Connection Service": {
            "name": "Kafka Connection Service",
            "displayName": "Kafka Connection Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Separate By Key": {
            "name": "Separate By Key",
            "displayName": "Separate By Key",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Processing Strategy": {
            "name": "Processing Strategy",
            "displayName": "Processing Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Record Writer": {
            "name": "Record Writer",
            "displayName": "Record Writer",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Group ID": {
            "name": "Group ID",
            "displayName": "Group ID",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "auto.offset.reset": {
            "name": "auto.offset.reset",
            "displayName": "Auto Offset Reset",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Output Strategy": {
            "name": "Output Strategy",
            "displayName": "Output Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 10,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "24693ce6-1a6a-3a39-8404-4da90c0c38f7"
      },
      {
        "identifier": "3c59db95-5be9-30ab-adbf-c23414199087",
        "instanceIdentifier": "c9b8af3e-0196-1000-0000-00002102c68d",
        "name": "GenerateFlowFile",
        "comments": "",
        "position": {
          "x": -3448,
          "y": -400
        },
        "type": "org.apache.nifi.processors.standard.GenerateFlowFile",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.4.0"
        },
        "properties": {
          "character-set": "UTF-8",
          "File Size": "0B",
          "mime-type": "application/json",
          "generate-ff-custom-text": "{\n  \"transaction_id\": \"TXN1002001\",\n  \"customer_id\": \"CUST5001\",\n  \"customer_name\": \"Ramesh Kumar\",\n  \"email\": \"ramesh.kumar@example.com\",\n  \"phone\": \"+919876543210\",\n  \"order_amount\": 1250.75,\n  \"currency\": \"INR\",\n  \"payment_mode\": \"Credit Card\",\n  \"order_status\": \"Confirmed\",\n  \"batch_id\":\"batch_20250515_1\"\n}",
          "Batch Size": "1",
          "Unique FlowFiles": "false",
          "Data Format": "Text"
        },
        "propertyDescriptors": {
          "character-set": {
            "name": "character-set",
            "displayName": "Character Set",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "File Size": {
            "name": "File Size",
            "displayName": "File Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "mime-type": {
            "name": "mime-type",
            "displayName": "Mime Type",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "generate-ff-custom-text": {
            "name": "generate-ff-custom-text",
            "displayName": "Custom Text",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Batch Size": {
            "name": "Batch Size",
            "displayName": "Batch Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Unique FlowFiles": {
            "name": "Unique FlowFiles",
            "displayName": "Unique FlowFiles",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Data Format": {
            "name": "Data Format",
            "displayName": "Data Format",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "1 min",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "PRIMARY",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1000,
        "autoTerminatedRelationships": [],
        "scheduledState": "DISABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "24693ce6-1a6a-3a39-8404-4da90c0c38f7"
      },
      {
        "identifier": "2331be9d-9b32-37c0-ab1b-41cdfba72cc0",
        "instanceIdentifier": "d51d7f69-0196-1000-0000-000045f1b0de",
        "name": "ReplaceText",
        "comments": "",
        "position": {
          "x": -2712,
          "y": 376
        },
        "type": "org.apache.nifi.processors.standard.ReplaceText",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.4.0"
        },
        "properties": {
          "Regular Expression": "(?s)(^.*$)",
          "Replacement Value": "{\n      \"batch_id\": \"${batch_id}\",\n      \"payload_tracking_id\": \"${kafka.topic}_${kafka.partition}_${kafka.offset}\",\n      \"record_date\": \"${now():format(\"yyyy-MM-dd'T'HH:mm:ss\")}\",\n      \"stage\": \"PAYLOAD_RECEIVED from Kafka consumer\",\n      \"topic_name\": \"${kafka.topic}\",\n      \"status_message\": \"Data successfully inserted into the database\",\n      \"status\": \"Success\"\n    }",
          "Evaluation Mode": "Entire text",
          "Text to Prepend": null,
          "Line-by-Line Evaluation Mode": "All",
          "Character Set": "UTF-8",
          "Maximum Buffer Size": "1 MB",
          "Replacement Strategy": "Regex Replace",
          "Text to Append": null
        },
        "propertyDescriptors": {
          "Regular Expression": {
            "name": "Regular Expression",
            "displayName": "Search Value",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Replacement Value": {
            "name": "Replacement Value",
            "displayName": "Replacement Value",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Evaluation Mode": {
            "name": "Evaluation Mode",
            "displayName": "Evaluation Mode",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Text to Prepend": {
            "name": "Text to Prepend",
            "displayName": "Text to Prepend",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Line-by-Line Evaluation Mode": {
            "name": "Line-by-Line Evaluation Mode",
            "displayName": "Line-by-Line Evaluation Mode",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Character Set": {
            "name": "Character Set",
            "displayName": "Character Set",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Maximum Buffer Size": {
            "name": "Maximum Buffer Size",
            "displayName": "Maximum Buffer Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Replacement Strategy": {
            "name": "Replacement Strategy",
            "displayName": "Replacement Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Text to Append": {
            "name": "Text to Append",
            "displayName": "Text to Append",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 25,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "failure"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "24693ce6-1a6a-3a39-8404-4da90c0c38f7"
      },
      {
        "identifier": "0ba1f577-02f6-3e25-8f3e-7bccc015999d",
        "instanceIdentifier": "c59ea5fa-0196-1000-0000-000060f9e4e1",
        "name": "InvokeHTTP",
        "comments": "",
        "position": {
          "x": 88,
          "y": 80
        },
        "type": "org.apache.nifi.processors.standard.InvokeHTTP",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.4.0"
        },
        "properties": {
          "Request Content-Encoding": "DISABLED",
          "proxy-configuration-service": null,
          "Request Multipart Form-Data Filename Enabled": "true",
          "Request Chunked Transfer-Encoding Enabled": "false",
          "Response Header Request Attributes Prefix": null,
          "HTTP/2 Disabled": "False",
          "Connection Timeout": "95 secs",
          "Response Cookie Strategy": "DISABLED",
          "Socket Read Timeout": "60 secs",
          "Socket Idle Connections": "5",
          "Request Body Enabled": "true",
          "OAuth2 Access Token Refresh Strategy": "ON_TOKEN_EXPIRATION",
          "HTTP URL": "http://172.31.10.199:80",
          "Request OAuth2 Access Token Provider": null,
          "Socket Idle Timeout": "5 secs",
          "Response Redirects Enabled": "True",
          "Socket Write Timeout": "60 secs",
          "Request Header Attributes Pattern": "(kafka\\..*|batch_id)",
          "Response FlowFile Naming Strategy": "RANDOM",
          "Response Cache Enabled": "false",
          "Request Date Header Enabled": "True",
          "Request Failure Penalization Enabled": "false",
          "Response Body Attribute Size": "256",
          "SSL Context Service": null,
          "Response Generation Required": "true",
          "Request User-Agent": null,
          "Response Header Request Attributes Enabled": "false",
          "HTTP Method": "POST",
          "Request Username": null,
          "Request Content-Type": "application/json",
          "Response Body Attribute Name": null,
          "Request Digest Authentication Enabled": "false",
          "Request Multipart Form-Data Name": null,
          "Response Cache Size": "10MB",
          "Response Body Ignored": "false"
        },
        "propertyDescriptors": {
          "Request Content-Encoding": {
            "name": "Request Content-Encoding",
            "displayName": "Request Content-Encoding",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "proxy-configuration-service": {
            "name": "proxy-configuration-service",
            "displayName": "Proxy Configuration Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Request Multipart Form-Data Filename Enabled": {
            "name": "Request Multipart Form-Data Filename Enabled",
            "displayName": "Request Multipart Form-Data Filename Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Chunked Transfer-Encoding Enabled": {
            "name": "Request Chunked Transfer-Encoding Enabled",
            "displayName": "Request Chunked Transfer-Encoding Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Header Request Attributes Prefix": {
            "name": "Response Header Request Attributes Prefix",
            "displayName": "Response Header Request Attributes Prefix",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "HTTP/2 Disabled": {
            "name": "HTTP/2 Disabled",
            "displayName": "HTTP/2 Disabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Connection Timeout": {
            "name": "Connection Timeout",
            "displayName": "Connection Timeout",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Cookie Strategy": {
            "name": "Response Cookie Strategy",
            "displayName": "Response Cookie Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Password": {
            "name": "Request Password",
            "displayName": "Request Password",
            "identifiesControllerService": false,
            "sensitive": true,
            "dynamic": false
          },
          "Socket Read Timeout": {
            "name": "Socket Read Timeout",
            "displayName": "Socket Read Timeout",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Socket Idle Connections": {
            "name": "Socket Idle Connections",
            "displayName": "Socket Idle Connections",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Body Enabled": {
            "name": "Request Body Enabled",
            "displayName": "Request Body Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "OAuth2 Access Token Refresh Strategy": {
            "name": "OAuth2 Access Token Refresh Strategy",
            "displayName": "OAuth2 Access Token Refresh Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "HTTP URL": {
            "name": "HTTP URL",
            "displayName": "HTTP URL",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request OAuth2 Access Token Provider": {
            "name": "Request OAuth2 Access Token Provider",
            "displayName": "Request OAuth2 Access Token Provider",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Socket Idle Timeout": {
            "name": "Socket Idle Timeout",
            "displayName": "Socket Idle Timeout",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Redirects Enabled": {
            "name": "Response Redirects Enabled",
            "displayName": "Response Redirects Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Socket Write Timeout": {
            "name": "Socket Write Timeout",
            "displayName": "Socket Write Timeout",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Header Attributes Pattern": {
            "name": "Request Header Attributes Pattern",
            "displayName": "Request Header Attributes Pattern",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response FlowFile Naming Strategy": {
            "name": "Response FlowFile Naming Strategy",
            "displayName": "Response FlowFile Naming Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Cache Enabled": {
            "name": "Response Cache Enabled",
            "displayName": "Response Cache Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Date Header Enabled": {
            "name": "Request Date Header Enabled",
            "displayName": "Request Date Header Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Failure Penalization Enabled": {
            "name": "Request Failure Penalization Enabled",
            "displayName": "Request Failure Penalization Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Body Attribute Size": {
            "name": "Response Body Attribute Size",
            "displayName": "Response Body Attribute Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "SSL Context Service": {
            "name": "SSL Context Service",
            "displayName": "SSL Context Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Response Generation Required": {
            "name": "Response Generation Required",
            "displayName": "Response Generation Required",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request User-Agent": {
            "name": "Request User-Agent",
            "displayName": "Request User-Agent",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Header Request Attributes Enabled": {
            "name": "Response Header Request Attributes Enabled",
            "displayName": "Response Header Request Attributes Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "HTTP Method": {
            "name": "HTTP Method",
            "displayName": "HTTP Method",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Username": {
            "name": "Request Username",
            "displayName": "Request Username",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Content-Type": {
            "name": "Request Content-Type",
            "displayName": "Request Content-Type",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Body Attribute Name": {
            "name": "Response Body Attribute Name",
            "displayName": "Response Body Attribute Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Digest Authentication Enabled": {
            "name": "Request Digest Authentication Enabled",
            "displayName": "Request Digest Authentication Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Multipart Form-Data Name": {
            "name": "Request Multipart Form-Data Name",
            "displayName": "Request Multipart Form-Data Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Cache Size": {
            "name": "Response Cache Size",
            "displayName": "Response Cache Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Body Ignored": {
            "name": "Response Body Ignored",
            "displayName": "Response Body Ignored",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 10,
        "autoTerminatedRelationships": [
          "Original"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "24693ce6-1a6a-3a39-8404-4da90c0c38f7"
      }
    ],
    "inputPorts": [],
    "outputPorts": [],
    "connections": [
      {
        "identifier": "046db7a4-bcca-3a3a-8aa7-ba35e3302275",
        "instanceIdentifier": "c4907dd7-0196-1000-0000-0000001bf4a9",
        "name": "",
        "source": {
          "id": "8f5d8e45-0208-3415-bf1f-e8f342cea501",
          "type": "PROCESSOR",
          "groupId": "24693ce6-1a6a-3a39-8404-4da90c0c38f7",
          "name": "ConsumeKafka",
          "comments": "",
          "instanceIdentifier": "c48fdc64-0196-1000-0000-000079e03223"
        },
        "destination": {
          "id": "681a8470-86f3-33d6-aeef-15be6e138c2e",
          "type": "PROCESSOR",
          "groupId": "24693ce6-1a6a-3a39-8404-4da90c0c38f7",
          "name": "Extract Batch ID",
          "comments": "",
          "instanceIdentifier": "d750d4e9-0196-1000-ffff-ffff8cbdc408"
        },
        "labelIndex": 0,
        "zIndex": 1,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 100000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "ROUND_ROBIN",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "24693ce6-1a6a-3a39-8404-4da90c0c38f7"
      },
      {
        "identifier": "b0fda403-49b6-3ea5-b572-8f0abddb6e95",
        "instanceIdentifier": "d758ba31-0196-1000-0000-000021bf094d",
        "name": "",
        "source": {
          "id": "681a8470-86f3-33d6-aeef-15be6e138c2e",
          "type": "PROCESSOR",
          "groupId": "24693ce6-1a6a-3a39-8404-4da90c0c38f7",
          "name": "Extract Batch ID",
          "comments": "",
          "instanceIdentifier": "d750d4e9-0196-1000-ffff-ffff8cbdc408"
        },
        "destination": {
          "id": "2331be9d-9b32-37c0-ab1b-41cdfba72cc0",
          "type": "PROCESSOR",
          "groupId": "24693ce6-1a6a-3a39-8404-4da90c0c38f7",
          "name": "ReplaceText",
          "comments": "",
          "instanceIdentifier": "d51d7f69-0196-1000-0000-000045f1b0de"
        },
        "labelIndex": 0,
        "zIndex": 31,
        "selectedRelationships": [
          "matched"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "24693ce6-1a6a-3a39-8404-4da90c0c38f7"
      },
      {
        "identifier": "d48ba0c2-5d67-3a83-bc31-7d76a6e666c0",
        "instanceIdentifier": "cafdc843-0196-1000-ffff-ffffe576fbdb",
        "name": "",
        "source": {
          "id": "0ba1f577-02f6-3e25-8f3e-7bccc015999d",
          "type": "PROCESSOR",
          "groupId": "24693ce6-1a6a-3a39-8404-4da90c0c38f7",
          "name": "InvokeHTTP",
          "comments": "",
          "instanceIdentifier": "c59ea5fa-0196-1000-0000-000060f9e4e1"
        },
        "destination": {
          "id": "680ade53-86b2-36e3-a96b-2da1b9756e33",
          "type": "PROCESSOR",
          "groupId": "24693ce6-1a6a-3a39-8404-4da90c0c38f7",
          "name": "ReplaceText",
          "comments": "",
          "instanceIdentifier": "d528357e-0196-1000-ffff-fffff451f39d"
        },
        "labelIndex": 0,
        "zIndex": 13,
        "selectedRelationships": [
          "Response"
        ],
        "backPressureObjectThreshold": 1000000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "24693ce6-1a6a-3a39-8404-4da90c0c38f7"
      },
      {
        "identifier": "d114daa4-cf95-3fc2-8a44-fb5ce9ed3991",
        "instanceIdentifier": "d7611735-0196-1000-ffff-ffffb407bb4a",
        "name": "",
        "source": {
          "id": "3c59db95-5be9-30ab-adbf-c23414199087",
          "type": "PROCESSOR",
          "groupId": "24693ce6-1a6a-3a39-8404-4da90c0c38f7",
          "name": "GenerateFlowFile",
          "comments": "",
          "instanceIdentifier": "c9b8af3e-0196-1000-0000-00002102c68d"
        },
        "destination": {
          "id": "e60b3bac-dfcf-38e6-8a8e-103892973cad",
          "type": "PROCESSOR",
          "groupId": "24693ce6-1a6a-3a39-8404-4da90c0c38f7",
          "name": "PublishKafka",
          "comments": "",
          "instanceIdentifier": "c9b8d61e-0196-1000-ffff-ffffc281d4c8"
        },
        "labelIndex": 0,
        "zIndex": 32,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "24693ce6-1a6a-3a39-8404-4da90c0c38f7"
      },
      {
        "identifier": "755b779a-6db8-3633-98ae-966137374d1f",
        "instanceIdentifier": "d511e953-0196-1000-ffff-ffff9f91db9c",
        "name": "",
        "source": {
          "id": "f97ac1f8-afa1-314a-b991-b34573fed2f9",
          "type": "PROCESSOR",
          "groupId": "24693ce6-1a6a-3a39-8404-4da90c0c38f7",
          "name": "PutDatabaseRecord",
          "comments": "",
          "instanceIdentifier": "d50f7728-0196-1000-ffff-ffff962c1073"
        },
        "destination": {
          "id": "f91e855d-4c8d-3e60-b079-63028089ad85",
          "type": "FUNNEL",
          "groupId": "24693ce6-1a6a-3a39-8404-4da90c0c38f7",
          "name": "Funnel",
          "comments": "",
          "instanceIdentifier": "d511767f-0196-1000-0000-00002ab47f55"
        },
        "labelIndex": 0,
        "zIndex": 24,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "24693ce6-1a6a-3a39-8404-4da90c0c38f7"
      },
      {
        "identifier": "1d6ba995-a996-3ac1-860a-5bc1e21c1ce3",
        "instanceIdentifier": "d7583697-0196-1000-ffff-ffffb45fc6cf",
        "name": "",
        "source": {
          "id": "681a8470-86f3-33d6-aeef-15be6e138c2e",
          "type": "PROCESSOR",
          "groupId": "24693ce6-1a6a-3a39-8404-4da90c0c38f7",
          "name": "Extract Batch ID",
          "comments": "",
          "instanceIdentifier": "d750d4e9-0196-1000-ffff-ffff8cbdc408"
        },
        "destination": {
          "id": "0265ee77-9fd9-3a6d-bdc4-33b9c100885e",
          "type": "PROCESSOR",
          "groupId": "24693ce6-1a6a-3a39-8404-4da90c0c38f7",
          "name": "UpdateAttribute",
          "comments": "",
          "instanceIdentifier": "d5359455-0196-1000-ffff-ffffe3a6840c"
        },
        "labelIndex": 0,
        "zIndex": 30,
        "selectedRelationships": [
          "matched"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "24693ce6-1a6a-3a39-8404-4da90c0c38f7"
      },
      {
        "identifier": "b6fd3eb5-5ee5-3c93-8fbe-d271a5cf96da",
        "instanceIdentifier": "d52e3493-0196-1000-ffff-ffffa88c53c8",
        "name": "",
        "source": {
          "id": "680ade53-86b2-36e3-a96b-2da1b9756e33",
          "type": "PROCESSOR",
          "groupId": "24693ce6-1a6a-3a39-8404-4da90c0c38f7",
          "name": "ReplaceText",
          "comments": "",
          "instanceIdentifier": "d528357e-0196-1000-ffff-fffff451f39d"
        },
        "destination": {
          "id": "5e72c873-eac2-38ae-8017-f18c9c083858",
          "type": "PROCESSOR",
          "groupId": "24693ce6-1a6a-3a39-8404-4da90c0c38f7",
          "name": "PutDatabaseRecord",
          "comments": "",
          "instanceIdentifier": "d52e1481-0196-1000-0000-000030f8a436"
        },
        "labelIndex": 0,
        "zIndex": 27,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "24693ce6-1a6a-3a39-8404-4da90c0c38f7"
      },
      {
        "identifier": "c89ef2dd-572f-3fc6-93d6-1bdd4e835bca",
        "instanceIdentifier": "d5365d31-0196-1000-ffff-ffffb7a18e76",
        "name": "",
        "source": {
          "id": "0265ee77-9fd9-3a6d-bdc4-33b9c100885e",
          "type": "PROCESSOR",
          "groupId": "24693ce6-1a6a-3a39-8404-4da90c0c38f7",
          "name": "UpdateAttribute",
          "comments": "",
          "instanceIdentifier": "d5359455-0196-1000-ffff-ffffe3a6840c"
        },
        "destination": {
          "id": "f340d074-f059-3f7b-b5fa-aa2a83bfd453",
          "type": "PROCESSOR",
          "groupId": "24693ce6-1a6a-3a39-8404-4da90c0c38f7",
          "name": "CompressContent",
          "comments": "",
          "instanceIdentifier": "c594d1c3-0196-1000-ffff-ffffd51a9954"
        },
        "labelIndex": 0,
        "zIndex": 29,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "24693ce6-1a6a-3a39-8404-4da90c0c38f7"
      },
      {
        "identifier": "328fb987-52c7-3ee3-8ea9-1f1f80105554",
        "instanceIdentifier": "d53508da-0196-1000-ffff-ffffbecefef9",
        "name": "",
        "source": {
          "id": "5e72c873-eac2-38ae-8017-f18c9c083858",
          "type": "PROCESSOR",
          "groupId": "24693ce6-1a6a-3a39-8404-4da90c0c38f7",
          "name": "PutDatabaseRecord",
          "comments": "",
          "instanceIdentifier": "d52e1481-0196-1000-0000-000030f8a436"
        },
        "destination": {
          "id": "c6fea07a-6d8d-3365-9de8-46d91ae3d820",
          "type": "FUNNEL",
          "groupId": "24693ce6-1a6a-3a39-8404-4da90c0c38f7",
          "name": "Funnel",
          "comments": "",
          "instanceIdentifier": "d534f88b-0196-1000-ffff-fffff6afd7ea"
        },
        "labelIndex": 0,
        "zIndex": 28,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "24693ce6-1a6a-3a39-8404-4da90c0c38f7"
      },
      {
        "identifier": "cfa36710-5a4c-359b-a9c0-a7d22decb469",
        "instanceIdentifier": "d51eff56-0196-1000-ffff-ffffb3d4b3ac",
        "name": "",
        "source": {
          "id": "2331be9d-9b32-37c0-ab1b-41cdfba72cc0",
          "type": "PROCESSOR",
          "groupId": "24693ce6-1a6a-3a39-8404-4da90c0c38f7",
          "name": "ReplaceText",
          "comments": "",
          "instanceIdentifier": "d51d7f69-0196-1000-0000-000045f1b0de"
        },
        "destination": {
          "id": "f97ac1f8-afa1-314a-b991-b34573fed2f9",
          "type": "PROCESSOR",
          "groupId": "24693ce6-1a6a-3a39-8404-4da90c0c38f7",
          "name": "PutDatabaseRecord",
          "comments": "",
          "instanceIdentifier": "d50f7728-0196-1000-ffff-ffff962c1073"
        },
        "labelIndex": 0,
        "zIndex": 26,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "24693ce6-1a6a-3a39-8404-4da90c0c38f7"
      },
      {
        "identifier": "dca0b488-2067-3e09-b669-13f3f57938a1",
        "instanceIdentifier": "d4c15f31-0196-1000-ffff-ffffc2cb9528",
        "name": "",
        "source": {
          "id": "0ba1f577-02f6-3e25-8f3e-7bccc015999d",
          "type": "PROCESSOR",
          "groupId": "24693ce6-1a6a-3a39-8404-4da90c0c38f7",
          "name": "InvokeHTTP",
          "comments": "",
          "instanceIdentifier": "c59ea5fa-0196-1000-0000-000060f9e4e1"
        },
        "destination": {
          "id": "62794da5-a08e-30a6-9b7b-f34d4bd8b256",
          "type": "PROCESSOR",
          "groupId": "24693ce6-1a6a-3a39-8404-4da90c0c38f7",
          "name": "LogAttribute",
          "comments": "",
          "instanceIdentifier": "d4c08fe9-0196-1000-0000-00002901b4b0"
        },
        "labelIndex": 0,
        "zIndex": 23,
        "selectedRelationships": [
          "No Retry",
          "Retry",
          "Failure"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "24693ce6-1a6a-3a39-8404-4da90c0c38f7"
      },
      {
        "identifier": "c9269032-26e1-31d8-aafd-97592673a2ce",
        "instanceIdentifier": "c5e8fe56-0196-1000-ffff-ffffb44bb364",
        "name": "",
        "source": {
          "id": "2c78ccab-7a38-38e0-88cf-f1ea923fc283",
          "type": "PROCESSOR",
          "groupId": "24693ce6-1a6a-3a39-8404-4da90c0c38f7",
          "name": "EncryptContent",
          "comments": "",
          "instanceIdentifier": "c5b32d62-0196-1000-0000-000003b1ba6c"
        },
        "destination": {
          "id": "0ba1f577-02f6-3e25-8f3e-7bccc015999d",
          "type": "PROCESSOR",
          "groupId": "24693ce6-1a6a-3a39-8404-4da90c0c38f7",
          "name": "InvokeHTTP",
          "comments": "",
          "instanceIdentifier": "c59ea5fa-0196-1000-0000-000060f9e4e1"
        },
        "labelIndex": 0,
        "zIndex": 9,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "ROUND_ROBIN",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "24693ce6-1a6a-3a39-8404-4da90c0c38f7"
      },
      {
        "identifier": "41d443cf-3260-3892-8edf-eef6ab627480",
        "instanceIdentifier": "c5bc2fd6-0196-1000-0000-0000674e297f",
        "name": "",
        "source": {
          "id": "f340d074-f059-3f7b-b5fa-aa2a83bfd453",
          "type": "PROCESSOR",
          "groupId": "24693ce6-1a6a-3a39-8404-4da90c0c38f7",
          "name": "CompressContent",
          "comments": "",
          "instanceIdentifier": "c594d1c3-0196-1000-ffff-ffffd51a9954"
        },
        "destination": {
          "id": "2c78ccab-7a38-38e0-88cf-f1ea923fc283",
          "type": "PROCESSOR",
          "groupId": "24693ce6-1a6a-3a39-8404-4da90c0c38f7",
          "name": "EncryptContent",
          "comments": "",
          "instanceIdentifier": "c5b32d62-0196-1000-0000-000003b1ba6c"
        },
        "labelIndex": 0,
        "zIndex": 6,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "ROUND_ROBIN",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "24693ce6-1a6a-3a39-8404-4da90c0c38f7"
      }
    ],
    "labels": [
      {
        "identifier": "7011b44c-c32a-345e-8a25-c93a5bbe17eb",
        "instanceIdentifier": "c9ac1996-0196-1000-ffff-fffff0e6f259",
        "position": {
          "x": -1184,
          "y": 48
        },
        "label": "Compress Data Before Sending",
        "zIndex": 2,
        "width": 208,
        "height": 24,
        "style": {
          "font-size": "12px"
        },
        "componentType": "LABEL",
        "groupIdentifier": "24693ce6-1a6a-3a39-8404-4da90c0c38f7"
      },
      {
        "identifier": "c7d6e368-fc25-3618-91b1-7dca5df13c2c",
        "instanceIdentifier": "d52973bf-0196-1000-0000-00007b524c79",
        "position": {
          "x": -2296,
          "y": 768
        },
        "label": "Insert Data to data_lineage table",
        "zIndex": 6,
        "width": 128,
        "height": 40,
        "style": {
          "font-size": "12px"
        },
        "componentType": "LABEL",
        "groupIdentifier": "24693ce6-1a6a-3a39-8404-4da90c0c38f7"
      },
      {
        "identifier": "f5eea3ef-96cc-36b8-b718-b34d86c05d1c",
        "instanceIdentifier": "c9ae44ec-0196-1000-0000-000016b76afb",
        "position": {
          "x": -504,
          "y": 48
        },
        "label": "Encrypt Data Before API Call",
        "zIndex": 3,
        "width": 224,
        "height": 24,
        "style": {
          "font-size": "12px"
        },
        "componentType": "LABEL",
        "groupIdentifier": "24693ce6-1a6a-3a39-8404-4da90c0c38f7"
      },
      {
        "identifier": "60293a4e-e710-3037-b028-c4f26d53d35d",
        "instanceIdentifier": "d52c410b-0196-1000-ffff-ffff8b4e8d21",
        "position": {
          "x": -3360,
          "y": -464
        },
        "label": "Creating Json Data",
        "zIndex": 8,
        "width": 160,
        "height": 24,
        "style": {
          "font-size": "12px"
        },
        "componentType": "LABEL",
        "groupIdentifier": "24693ce6-1a6a-3a39-8404-4da90c0c38f7"
      },
      {
        "identifier": "76f333bb-79e6-3b48-80c5-2add5330cdc3",
        "instanceIdentifier": "d752fa7c-0196-1000-ffff-ffffc18aac37",
        "position": {
          "x": -2648,
          "y": 40
        },
        "label": "Extract batch_id attribute from JSON",
        "zIndex": 12,
        "width": 232,
        "height": 32,
        "style": {
          "font-size": "12px"
        },
        "componentType": "LABEL",
        "groupIdentifier": "24693ce6-1a6a-3a39-8404-4da90c0c38f7"
      },
      {
        "identifier": "adeb9a97-0873-325c-a860-375b2d1a2a95",
        "instanceIdentifier": "c9b0eb93-0196-1000-ffff-ffffc0e1748d",
        "position": {
          "x": 112,
          "y": 40
        },
        "label": "Send Encrypted Meter Data via HTTP",
        "zIndex": 4,
        "width": 232,
        "height": 32,
        "style": {
          "font-size": "12px"
        },
        "componentType": "LABEL",
        "groupIdentifier": "24693ce6-1a6a-3a39-8404-4da90c0c38f7"
      },
      {
        "identifier": "46c86942-8ae7-327c-a5a6-597d1b11afaf",
        "instanceIdentifier": "d4c4a6eb-0196-1000-ffff-ffff8ef2206c",
        "position": {
          "x": -2336,
          "y": 424
        },
        "label": "Add Dynamic Metadata to JSON Content",
        "zIndex": 5,
        "width": 200,
        "height": 32,
        "style": {
          "font-size": "12px"
        },
        "componentType": "LABEL",
        "groupIdentifier": "24693ce6-1a6a-3a39-8404-4da90c0c38f7"
      },
      {
        "identifier": "f5f4bc8d-8423-38b2-8089-c58b31c167fb",
        "instanceIdentifier": "d52b45c9-0196-1000-ffff-ffffac04c79f",
        "position": {
          "x": -112,
          "y": 408
        },
        "label": "Add Dynamic Metadata to JSON Content",
        "zIndex": 7,
        "width": 176,
        "height": 32,
        "style": {
          "font-size": "12px"
        },
        "componentType": "LABEL",
        "groupIdentifier": "24693ce6-1a6a-3a39-8404-4da90c0c38f7"
      },
      {
        "identifier": "536be2f3-0412-3502-abba-93a04bd8fbf8",
        "instanceIdentifier": "c9aa5b66-0196-1000-0000-00001c45ab77",
        "position": {
          "x": -3440,
          "y": 40
        },
        "label": "Consume Data in any Format from the Given Kafka Source Topic",
        "zIndex": 1,
        "width": 320,
        "height": 32,
        "style": {
          "font-size": "12px"
        },
        "componentType": "LABEL",
        "groupIdentifier": "24693ce6-1a6a-3a39-8404-4da90c0c38f7"
      },
      {
        "identifier": "944c5dcb-27b6-3ff5-953c-bf1e17d8d3e1",
        "instanceIdentifier": "d5340768-0196-1000-ffff-ffffd8f60aed",
        "position": {
          "x": -88,
          "y": 672
        },
        "label": "Insert Data to data_lineage table",
        "zIndex": 10,
        "width": 136,
        "height": 48,
        "style": {
          "font-size": "12px"
        },
        "componentType": "LABEL",
        "groupIdentifier": "24693ce6-1a6a-3a39-8404-4da90c0c38f7"
      },
      {
        "identifier": "01e90fc5-e3aa-3b29-8118-f6cc58841d11",
        "instanceIdentifier": "d53717e5-0196-1000-0000-000052a6079b",
        "position": {
          "x": -1888,
          "y": 32
        },
        "label": "Update Start Time",
        "zIndex": 11,
        "width": 136,
        "height": 24,
        "style": {
          "font-size": "12px"
        },
        "componentType": "LABEL",
        "groupIdentifier": "24693ce6-1a6a-3a39-8404-4da90c0c38f7"
      },
      {
        "identifier": "c4c9aa83-9b25-3a56-a77b-cd4222fa5bd3",
        "instanceIdentifier": "d52c9c19-0196-1000-0000-00003d7ee90a",
        "position": {
          "x": -2688,
          "y": -472
        },
        "label": "Publish to Kafka Topic",
        "zIndex": 9,
        "width": 160,
        "height": 32,
        "style": {
          "font-size": "12px"
        },
        "componentType": "LABEL",
        "groupIdentifier": "24693ce6-1a6a-3a39-8404-4da90c0c38f7"
      }
    ],
    "funnels": [
      {
        "identifier": "c6fea07a-6d8d-3365-9de8-46d91ae3d820",
        "instanceIdentifier": "d534f88b-0196-1000-ffff-fffff6afd7ea",
        "position": {
          "x": 243.5,
          "y": 868.5
        },
        "componentType": "FUNNEL",
        "groupIdentifier": "24693ce6-1a6a-3a39-8404-4da90c0c38f7"
      },
      {
        "identifier": "f91e855d-4c8d-3e60-b079-63028089ad85",
        "instanceIdentifier": "d511767f-0196-1000-0000-00002ab47f55",
        "position": {
          "x": -2560,
          "y": 928
        },
        "componentType": "FUNNEL",
        "groupIdentifier": "24693ce6-1a6a-3a39-8404-4da90c0c38f7"
      }
    ],
    "controllerServices": [
      {
        "identifier": "44b83ac7-65bb-365b-9187-744919d220cc",
        "instanceIdentifier": "c49ca7da-0196-1000-0000-00002b94e1d2",
        "name": "Kafka3ConnectionService",
        "comments": "",
        "type": "org.apache.nifi.kafka.service.Kafka3ConnectionService",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-kafka-3-service-nar",
          "version": "2.4.0"
        },
        "properties": {
          "security.protocol": "PLAINTEXT",
          "SSL Context Service": null,
          "ack.wait.time": "5 sec",
          "sasl.username": null,
          "max.poll.records": "10000",
          "sasl.mechanism": "GSSAPI",
          "isolation.level": "read_committed",
          "max.block.ms": "5 sec",
          "bootstrap.servers": "172.31.0.11:9092",
          "kerberos-user-service": null,
          "sasl.kerberos.service.name": null,
          "default.api.timeout.ms": "60 sec"
        },
        "propertyDescriptors": {
          "ack.wait.time": {
            "name": "ack.wait.time",
            "displayName": "Acknowledgment Wait Time",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "sasl.username": {
            "name": "sasl.username",
            "displayName": "SASL Username",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "max.poll.records": {
            "name": "max.poll.records",
            "displayName": "Max Poll Records",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "bootstrap.servers": {
            "name": "bootstrap.servers",
            "displayName": "Bootstrap Servers",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "sasl.kerberos.service.name": {
            "name": "sasl.kerberos.service.name",
            "displayName": "Kerberos Service Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "security.protocol": {
            "name": "security.protocol",
            "displayName": "Security Protocol",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "SSL Context Service": {
            "name": "SSL Context Service",
            "displayName": "SSL Context Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "sasl.mechanism": {
            "name": "sasl.mechanism",
            "displayName": "SASL Mechanism",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "isolation.level": {
            "name": "isolation.level",
            "displayName": "Transaction Isolation Level",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "max.block.ms": {
            "name": "max.block.ms",
            "displayName": "Max Metadata Wait Time",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "kerberos-user-service": {
            "name": "kerberos-user-service",
            "displayName": "Kerberos User Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "sasl.password": {
            "name": "sasl.password",
            "displayName": "SASL Password",
            "identifiesControllerService": false,
            "sensitive": true,
            "dynamic": false
          },
          "default.api.timeout.ms": {
            "name": "default.api.timeout.ms",
            "displayName": "Client Timeout",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.kafka.service.api.KafkaConnectionService",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-kafka-service-api-nar",
              "version": "2.4.0"
            }
          }
        ],
        "scheduledState": "DISABLED",
        "bulletinLevel": "WARN",
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "c99d7e38-0196-1000-0000-000077c01fea"
      },
      {
        "identifier": "0bcba796-a14c-38d4-abc4-550b4f935c78",
        "instanceIdentifier": "c6026a14-0196-1000-0000-00003afaa1cf",
        "name": "JsonTreeReader",
        "comments": "",
        "type": "org.apache.nifi.json.JsonTreeReader",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-record-serialization-services-nar",
          "version": "2.4.0"
        },
        "properties": {
          "schema-reference-reader": null,
          "schema-branch": null,
          "Max String Length": "20 MB",
          "schema-application-strategy": "SELECTED_PART",
          "Timestamp Format": null,
          "schema-inference-cache": null,
          "Date Format": null,
          "schema-name": "${schema.name}",
          "starting-field-strategy": "ROOT_NODE",
          "schema-registry": null,
          "starting-field-name": null,
          "Time Format": null,
          "schema-access-strategy": "infer-schema",
          "schema-version": null,
          "schema-text": "${avro.schema}",
          "Allow Comments": "false"
        },
        "propertyDescriptors": {
          "schema-reference-reader": {
            "name": "schema-reference-reader",
            "displayName": "Schema Reference Reader",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "schema-branch": {
            "name": "schema-branch",
            "displayName": "Schema Branch",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Max String Length": {
            "name": "Max String Length",
            "displayName": "Max String Length",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "schema-application-strategy": {
            "name": "schema-application-strategy",
            "displayName": "Schema Application Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Timestamp Format": {
            "name": "Timestamp Format",
            "displayName": "Timestamp Format",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "schema-inference-cache": {
            "name": "schema-inference-cache",
            "displayName": "Schema Inference Cache",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Date Format": {
            "name": "Date Format",
            "displayName": "Date Format",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "schema-name": {
            "name": "schema-name",
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "starting-field-strategy": {
            "name": "starting-field-strategy",
            "displayName": "Starting Field Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "schema-registry": {
            "name": "schema-registry",
            "displayName": "Schema Registry",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "starting-field-name": {
            "name": "starting-field-name",
            "displayName": "Starting Field Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Time Format": {
            "name": "Time Format",
            "displayName": "Time Format",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "schema-access-strategy": {
            "name": "schema-access-strategy",
            "displayName": "Schema Access Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "schema-version": {
            "name": "schema-version",
            "displayName": "Schema Version",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "schema-text": {
            "name": "schema-text",
            "displayName": "Schema Text",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Allow Comments": {
            "name": "Allow Comments",
            "displayName": "Allow Comments",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.serialization.RecordReaderFactory",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "2.4.0"
            }
          }
        ],
        "scheduledState": "DISABLED",
        "bulletinLevel": "WARN",
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "c99d7e38-0196-1000-0000-000077c01fea"
      },
      {
        "identifier": "faf5bebc-21b7-33af-80e5-7d5f720c53a1",
        "instanceIdentifier": "c6035a40-0196-1000-0000-00007912d012",
        "name": "DBCPConnectionPool",
        "comments": "",
        "type": "org.apache.nifi.dbcp.DBCPConnectionPool",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-dbcp-service-nar",
          "version": "2.4.0"
        },
        "properties": {
          "dbcp-min-idle-conns": "0",
          "Max Wait Time": "500 millis",
          "Database Driver Class Name": "org.postgresql.Driver",
          "dbcp-min-evictable-idle-time": "30 mins",
          "Max Total Connections": "8",
          "dbcp-max-conn-lifetime": "-1",
          "Validation-query": null,
          "Database Connection URL": "jdbc:postgresql://172.31.10.199:5432/order_processing",
          "dbcp-time-between-eviction-runs": "-1",
          "Database User": "postgres",
          "kerberos-user-service": null,
          "dbcp-soft-min-evictable-idle-time": "-1",
          "database-driver-locations": "/home/ubuntu/postgresql-42.7.5.jar",
          "dbcp-max-idle-conns": "8"
        },
        "propertyDescriptors": {
          "dbcp-min-idle-conns": {
            "name": "dbcp-min-idle-conns",
            "displayName": "Minimum Idle Connections",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Max Wait Time": {
            "name": "Max Wait Time",
            "displayName": "Max Wait Time",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Database Driver Class Name": {
            "name": "Database Driver Class Name",
            "displayName": "Database Driver Class Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "dbcp-min-evictable-idle-time": {
            "name": "dbcp-min-evictable-idle-time",
            "displayName": "Minimum Evictable Idle Time",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Max Total Connections": {
            "name": "Max Total Connections",
            "displayName": "Max Total Connections",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "dbcp-max-conn-lifetime": {
            "name": "dbcp-max-conn-lifetime",
            "displayName": "Max Connection Lifetime",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Validation-query": {
            "name": "Validation-query",
            "displayName": "Validation query",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Database Connection URL": {
            "name": "Database Connection URL",
            "displayName": "Database Connection URL",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "dbcp-time-between-eviction-runs": {
            "name": "dbcp-time-between-eviction-runs",
            "displayName": "Time Between Eviction Runs",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Database User": {
            "name": "Database User",
            "displayName": "Database User",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "kerberos-user-service": {
            "name": "kerberos-user-service",
            "displayName": "Kerberos User Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "dbcp-soft-min-evictable-idle-time": {
            "name": "dbcp-soft-min-evictable-idle-time",
            "displayName": "Soft Minimum Evictable Idle Time",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "database-driver-locations": {
            "name": "database-driver-locations",
            "displayName": "Database Driver Location(s)",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false,
            "resourceDefinition": {
              "cardinality": "MULTIPLE",
              "resourceTypes": [
                "DIRECTORY",
                "URL",
                "FILE"
              ]
            }
          },
          "dbcp-max-idle-conns": {
            "name": "dbcp-max-idle-conns",
            "displayName": "Max Idle Connections",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Password": {
            "name": "Password",
            "displayName": "Password",
            "identifiesControllerService": false,
            "sensitive": true,
            "dynamic": false
          }
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.dbcp.DBCPService",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "2.4.0"
            }
          }
        ],
        "scheduledState": "DISABLED",
        "bulletinLevel": "WARN",
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "c99d7e38-0196-1000-0000-000077c01fea"
      }
    ],
    "defaultFlowFileExpiration": "0 sec",
    "defaultBackPressureObjectThreshold": 10000,
    "defaultBackPressureDataSizeThreshold": "1 GB",
    "scheduledState": "ENABLED",
    "executionEngine": "INHERITED",
    "maxConcurrentTasks": 1,
    "statelessFlowTimeout": "1 min",
    "flowFileConcurrency": "UNBOUNDED",
    "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
    "componentType": "PROCESS_GROUP"
  },
  "externalControllerServices": {},
  "parameterContexts": {},
  "flowEncodingVersion": "1.0",
  "parameterProviders": {},
  "latest": false
}